altgraph==0.17.3
Pillow==9.4.0
protobuf==4.22.1
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
python-magic==0.4.27
python-slugify==8.0.1
six==1.16.0
text-unidecode==1.3
